.dashboardmhs{
    background: url('../../images/foto4.jpg') center center/cover no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.dashboardmhs h2{
    color:rgb(250, 250, 250);
}
.dashboardmhs p{
    color: blanchedalmond;
}